
.container {
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    /* object-fit: cover; */
  }
  
  .row {
    display: flex;
  }
  
  .col {
    flex: 1;
    padding: 1em;
    border: solid;
    margin: 2px;
    
  }
.custom-modalbox {
    mat-dialog-container {
        padding: 0;
    }
}

.centered-heading {
  text-align: center;

}
