.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 20px;
  }
  
  .card {
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .file-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  .file-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 12px 24px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .file-input:hover {
    border-color: #aaa;
  }
  
  .file-input span {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  .file-input input[type="file"] {
    display: none;
  }
  
  .no-resize-textarea {
    resize: none; /* Disable resizing */
    min-height: 80px;
    max-height: 200px;
  }
  
  .drag-over {
   background-color: wheat;
  }