<div class="container" (drop)="onFileDropped($event)" (drag)="onFileDropped($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
  <mat-card class="card">
    <h1 class="title">File Upload</h1>
    <form class="form"#suspectupload="ngForm"  novalidate>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Suspect name" name="name" [(ngModel)]="name" required>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Reason</mat-label>
        <textarea matInput placeholder="Enter reason or Suspect Details" name="reason" [(ngModel)]="reason" class="no-resize-textarea" required></textarea>
      </mat-form-field>

      <div  [ngClass]="{'drag-over':isDragOver}" class="file-section">
         <label class="file-input">
          <span>Choose a file</span>
          <input type="file" name="file" (change)="onFileSelected($event)" accept="image/*"  required>
        </label>

        
        <button *ngIf="photo" mat-raised-button (click)="photo?openImageDialog(createObjectURL(photo)):''">View Suspect Photo<mat-icon>visibility</mat-icon></button>
      </div>

      <button mat-raised-button color="primary"[disabled]="uploading||suspectupload.invalid" (click)="upload()" type="submit">Submit</button>
    </form>
  </mat-card>
</div>
