  <mat-dialog-content align="center" style="margin-left: 20px;margin-right: 20px;">
  <h1   mat-dialog-title><span style="color: red;">Suspect</span>:{{data.name}}</h1>

            <mat-form-field>
              <mat-label  >Name</mat-label>
              <input matInput [(ngModel)]="data.name">
            </mat-form-field><br>
            <mat-form-field>
              <mat-label  >reason</mat-label>
              <input matInput [(ngModel)]="data.reason"> 
            </mat-form-field><br>
          <mat-form-field>
              <mat-label  >Location</mat-label>
              <input matInput [(ngModel)]="data.location"></mat-form-field><br>
          <mat-form-field>
              <mat-label  >Latitude</mat-label>
              <input matInput [(ngModel)]="data.latitude"></mat-form-field><br>
          <mat-form-field>
              <mat-label  >Longitude</mat-label>
              <input matInput [(ngModel)]="data.longitude"></mat-form-field>
        </mat-dialog-content>
            <mat-dialog-actions align="center">
          <button mat-raised-button color="primary" (click)="confirmEdit()"> Save</button>
          <button mat-raised-button color="primary" (click)="cancelEdit()"> Cancel</button>
        </mat-dialog-actions>
  
  
  
  