
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div
        fxFlex="20%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
        *ngFor="let suspect of suspects;let i=index"
      >
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Suspect {{suspect[0]}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image
            src={{suspect[1]}}
          />
          <mat-card-content>
            <p>Name {{suspect[2]}}</p>
            <p>Name {{suspect[3]}}</p>        
            <p>Name {{suspect[4]}}</p>
            <p>Name {{suspect[5]}}</p>        
            <p>Name {{suspect[6]}}</p>
            <p>Name {{suspect[7]}}</p>   
        </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>