/* Target the input element with the "hide-number-arrows" class */
.hide-number-arrows::-webkit-inner-spin-button,
.hide-number-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes the arrows in Safari */
}

*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
.suspectdetails{
  background: #2e364a;  
}
.timeline{
  position: relative;
  max-width: 1200px;
  margin:  10px auto;
}
.container{
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 0.5s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0%{
      opacity: 1;
      transform: translateY(-30px);
  }
  100%{
      opacity: 1;
      transform: translateY(0px);
  }
}
@media (max-width: 600px) {
  .container {
    padding: 25px;
  }
  .container h1{
    font-size: 4.5vw;
  }
  .container h2,
  .container h3 {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 400px) {
  .container {
    padding: 25px;
  }
  .container h1{
    font-size: 4vw;
  }
  .container h2,
  .container h3 {
    font-size: 3vw;
  }
}


.text-box-inside>*{
    display: inline-block;
  max-width: 100%;
  white-space: normal;
}

.text-box{
  max-width: 100%;
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container{
  left: 0;
}
.right-container{
  left: 50%;
}

@keyframes moveline {
  0%{
      height: 0;
  }
  100%{
      height: 100%;
  }
}
.text-box h2{
  font-weight: 600;
}
.text-box h1{
  font-weight: 600;
}

.text-box small{
  display: inline-block;
  margin-bottom: 15px;
}
.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: -15px;
}
.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}

